body {
  text-align: center;
  background-color: #1a1a1a; /* Dark gray */
  transition: all ease 0.3s;
}

h1 {
  font-size: 5rem;
  color: #ffd700; /* Gold */
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #ff4500; /* Orange-Red */
}

footer {
  color: #ffffff; /* White */
  font-family: sans-serif;
}

.w {
  background-image: url(images/crash.png);
}

.a {
  background-image: url(images/kick.png);
}

.s {
  background-image: url(images/snare.png);
}

.d {
  background-image: url(images/tom1.png);
}

.j {
  background-image: url(images/tom2.png);
}

.k {
  background-image: url(images/tom3.png);
}

.l {
  background-image: url(images/tom4.png);
}

.set {
  margin: 5% auto;
  
}

.game-over {
  background-color: #ff6347; /* Tomato */
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #ffd700; /* Gold */
  opacity: 0.5;
}

.red {
  color: #ff4500; /* Orange-Red */
}



.drum {
  outline: none;
  border: 10px solid #404B69; /* Dark Slate Gray */
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #ffd700; /* Gold */
  text-shadow: 3px 0 #ff4500; /* Orange-Red */
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: #ffffff; /* White */
  cursor: pointer;
}


.btn{
  padding: 15px 20px;
  color: black;
  font-family: 'Arvo', cursive;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  border: 5px solid #ffd700;
}